<div class="container">
  <h3>Mes favorites</h3>
  <% @favorites.each do |favorite| %>
    <div class="beer-card">
      <div class="beer-wrapper">
        <% if beer.photo.attached? %>
          <%= image_tag(beer.photo, :alt => "beer") %>
        <% elsif beer.picture_url.nil? %>
          <%= image_tag("default-picture.jpg", :alt => "beer") %>
        <% else %>
          <img src="<%= beer.picture_url %>" alt="Beer.jpg">>
        <% end %>
      </div>
      
      <div class="card-beer-infos">
        <div class="main-infos">
          <p class="brewery"><%= favorite.beer.brewery %></p>
          <h4><%= favorite.beer.name %></h4>
          <div class="line"></div>
          <p class="category"><i class="fab fa-pagelines"></i><%= favorite.beer.category %></p>
        </div>
      </div>

      <div class="second-infos">
        <%= link_to favorite_path(favorite), method: :delete, data: { confirm: "Es-tu sûr? C'est du bon jus pourtant!"} do %>
          <i class= "far fa-trash-alt" id="delete"></i>
        <% end %>
      </div>

    </div>
  <% end %>

  <div class="recommandations">
    <h4>Petites suggestions pour toi</h4>
    <% @beers_recommended.each do |beer| %>
      <div class="beer-card">
        <div class="beer-wrapper">
          <% if beer.photo.attached? %>
            <%= image_tag(beer.photo, :alt => "beer") %>
          <% elsif beer.picture_url.nil? %>
            <%= image_tag("default-picture.jpg", :alt => "beer") %>
          <% else %>
            <img src="<%= beer.picture_url %>" alt="Beer.jpg">>
          <% end %>
        </div>

        <div class="card-beer-infos">
          <div class="main-infos">
            <p class="brewery"><%= beer.category %></p>
            <h4><%= beer.name %></h4>
            <div class="line"></div>
            <p class="category"><i class="fab fa-pagelines"></i><%= beer.category %></p>
          </div>
          <!-- <div class="second-infos">
            <div class="rate-info"><i class="fas fa-beer"></i></div>
            <#%= link_to "Details", beer_path(beer.id) %>
          </div> -->
        </div>

      </div>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>
