<div class="container">
  <h3>Petit oubli ?</h3>

  <div class="form-login">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions password-btn">
        <%= f.button :submit, "Hop! Check ton email" %>
      </div>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>

