<!-- <div class="navbar navbar-expand-sm navbar-light navbar-lewagon"> -->
<div class="navbar navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-beers-single.png" %>
  <% end %>

  <div id="main">
    <button class="openbtn"><i class="fa fa-bars"></i></button>
  </div>

  <div id="myNavbar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn"><i class="fas fa-times"></i></a>
    <div class="sidebar-content">
      <% if user_signed_in? %>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
        <%= link_to "Mes bières", beers_path %>
        <%# raise %>
        <%= image_tag(current_user.photo) if current_user.photo.present? %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
      <%= link_to "Toutes les bières", beers_path %>
      <%= link_to "Guide lexical", guide_path %>
      <%= link_to "Scan", scan_path %>
    </div>
  </div>
</div>
