<div class="home-container">
  <div class="content">
    <div class="header">
      <h1>
        <%= image_tag 'logo-beers.png', class: "logo" %>
      </h1>
    </div>

    <div class="home-nav">
      <div class="big-btn search">
        <%= link_to beers_path do %>
          <%= image_tag 'search-picto.png' %>
        <% end %>
      </div>
        <div class="big-btn scan">
          <%= link_to scan_path do %>
            <%= image_tag 'scan-picto.png' %>
          <% end %>
        </div>
    </div>
  </div>
</div>

