<h1>Check my Beers</h1>
  <%= form_tag beers_path, method: :get do %>
  <%= text_field_tag :name,
    params[:name],
    class: "form-control",
    placeholder: "Enter a beer name"%>
      <%= submit_tag "Search", class: "search-btn" %>
  <% end %>

  <h2>Advanced Search</h2>
    <%= form_tag beers_path, method: :get do %>
  <%= text_field_tag :brewery,
    params[:brewery],
    class: "form-control",
    placeholder: "Enter a brewery"%>

  <%= select_tag :category, options_for_select(Beer::MAIN.sort)%>

  <%= select_tag :beer_type, options_for_select(Beer::CATEGORIES.sort)%>

  <%= select_tag :location, options_for_select(Beer::LOCATION.sort)%>
      <%= submit_tag "Search", class: "search-btn" %>
  <% end %>



<% @beers.each do |beer| %>
  <% if beer.photo.attached? %>
    <%= cl_image_tag beer.photo, :alt => "beer" %>
  <% else %>
    <%= image_tag("https://static.mycity.travel/manage/uploads/7/40/117655/1/biere_3000.jpg", :alt => "beer") %>
  <% end %>
  <h2><%= beer.name %></h2>
  <p><%= beer.beer_type %></p>
  <p><%= beer.category %></p>
<%= link_to "More Info", beer_path(beer.id) %>
<% end %>
