<div class="container">
  <div class="search-nav">
    <%= form_tag beers_path, method: :get do %>
    <%= text_field_tag :name,
      params[:name],
      class: "form-control",
      placeholder: "Enter a beer name"%>
    <%= submit_tag "Search", class: "search-btn" %>
    <% end %>

    <h2>Advanced Search</h2>
      <%= form_tag beers_path, method: :get do %>
      <%= select_tag :beer_type, options_for_select(Beer::CATEGORIES.sort.uniq!), prompt: "Select a Type"%>
      <%= select_tag :brewery, options_for_select(Beer::BREWERY.sort.uniq!), prompt: "Select a Brewery"%>
      <%= select_tag :category, options_for_select(Beer::MAIN.sort.uniq!), prompt: "Select a Category"%>
      <%= select_tag :location, options_for_select(Beer::LOCATION.sort.uniq!), prompt: "Select a Country" %>
      <%= number_field_tag 'price', nil, within: 1...10 %>
      <%= submit_tag "Search", class: "search-btn" %>
    <% end %>
  </div>

  <h3>All beers</h3>

  <% @beers.each do |beer| %>
    <div class="beer-card">

        <% if beer.photo.attached? %>
        <%= cl_image_tag beer.photo, :alt => "beer" %>
        <% else %>
        <%= image_tag "default-picture.jpg" %>
        <% end %>

      <div class="card-beer-infos">
        <div class="main-infos">
          <p class="brewery"><%= beer.brewery %></p>
          <h4><%= beer.name %></h4>
          <div class="line"></div>
          <p class="category"><i class="fab fa-pagelines"></i><%= beer.category %></p>
        </div>

        <%= link_to 'beer', beer_path(beer.id) %>
      </div>
    </div>
  <% end %>
  <% if @div %>
    <div
      id="map"
      style="width: 100%;
      height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% end %>
</div>
