<div class="container">
  <div class="search-nav">
    <div class="basic-search">
      <%= form_tag beers_path, method: :get do %>
      <%= text_field_tag :name,
        params[:name],
        class: "form-control",
        placeholder: "Enter a beer name"%>
    </div>
      <%= submit_tag "Search", class: "submit-btn" %>
      <% end %>
    <!-- <button onclick="myFunction()">click me</button> -->
    <div class="advanced-search">
      <h4>Advanced Search</h4>
        <%= form_tag beers_path, method: :get do %>
        <div class="flex">
          <%= select_tag :beer_type, options_for_select(Beer::CATEGORIES.sort.uniq!), prompt: "Select a type"%>
          <%= select_tag :brewery, options_for_select(Beer::BREWERY.sort.uniq!), prompt: "Select a brewery"%>
          <%= select_tag :category, options_for_select(Beer::MAIN.sort.uniq!), prompt: "Select a category"%>
          <%= select_tag :location, options_for_select(Beer::LOCATION.sort.uniq!), prompt: "Select a country" %>
          <div class="price-range">
            <%= number_field_tag 'price', nil, within: 1...10 %>
          </div>
        </div>
    </div>
        <%= submit_tag "Search", class: "submit-btn" %>
      <% end %>

  </div>

  <h3>All beers</h3>

  <% @beers.each do |beer| %>
    <div class="beer-card">
      <div class="beer-wrapper">

        <% if beer.picture_url.nil? %>
          <%= image_tag "default-picture.jpg" %>
        <% else %>
          <img src="<%= beer.picture_url %>" alt="Beer.jpg">>
          <%#= cl_image_tag beer.photo, :alt => "beer" %>
        <% end %>
      </div>

      <div class="card-beer-infos">
        <div class="main-infos">
          <p class="brewery"><%= beer.brewery %></p>
          <h4><%= beer.name %></h4>
          <div class="line"></div>
          <p class="category"><i class="fab fa-pagelines"></i><%= beer.category %></p>
        </div>

        <%= link_to 'beer', beer_path(beer.id) %>
      </div>
    </div>
  <% end %>
  <% if @div %>
    <div
      id="map"
      style="width: 100%;
      height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% end %>

  <div class="footer">
    <div class="nav-footer">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to beers_path do %>
        <i class="fas fa-beer"></i>
      <% end %>
      <%= link_to scan_path do %>
        <%= image_tag 'scan-pictoW.png' %>
      <% end %>
    </div>
  </div>
</div>









