<h1>Beeeeeeeers</h1>
  <% @beers.each do |beer| %>
        <% if beer.photo.attached? %>
        <%= cl_image_tag beer.photo, :alt => "beer" %>
        <% else %>
        <%= image_tag("https://static.mycity.travel/manage/uploads/7/40/117655/1/biere_3000.jpg", :alt => "beer") %>
        <% end %>
      <h2><%= beer.name %></h2>
      <p><%= beer.beer_type %></p>
      <p><%= beer.category %></p>
        <%= link_to "More Info", beer_path(beer.id) %>
  <% end %>
