<div class="container">
  <div class="form-create">
    <h3>Ajoute ta bière</h3>
    <%= simple_form_for @beer do |f| %>
      <%= f.input :barcode, :as => :hidden, :input_html => { :value => params[:barcode] } %>
      <%= f.input :name, label: 'Nom', placeholder: 'Nom de la bière' %>
      <%= f.input :beer_type, label: 'Type de Bière', as: :select2, collection: Beer::CATEGORIES.sort.uniq!, prompt: 'Type' %>
      <%= f.input :category, label: 'Catégorie', as: :select2, collection: Beer::MAIN.sort.uniq!, prompt: 'Catégorie' %>
      <%= f.input :brewery, label: 'Brasserie', as: :select2, collection: Beer::BREWERY.sort.uniq!, prompt: 'Brasserie' %>
<!--       <%#= f.input :price, placeholder: 'Enter the price' %> -->
      <%= f.input :address, label: "Adresse d'origine", placeholder: 'Adresse' %>
      <%= f.input :location, label: "Pays d'origine", as: :select2, collection: Beer::LOCATION.sort.uniq!, prompt: 'Origine' %>
      <%= f.input :degree, label: "Taux d'Alcool", placeholder: "Taux d'alcool" %>
<!--       <%#= f.input :description, placeholder: 'Enter a description' %> -->
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, value: 'Ajouter', class:'submit-btn' %>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>

