<div class="banner-product">
  <%= link_to beers_path, class: "back-btn" do %>
    <i class="far fa-arrow-alt-circle-left"></i>
  <% end %>
  <h3><%= @beer.name %></h3>
  <%= image_tag(@photo, :alt => "beer") %>

  <div class="options-product">
    <div class="btn-show">
      <%= link_to new_beer_review_path(@beer) do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <div class="btn-show">
      <%= link_to beer_favorites_path(@beer), method: :post do  %>
        <i class="far fa-heart"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="container">

  <div class="card-details-product">
    <div class="flex">

      <div class="detail-product">
        <h4><i class="fas fa-home"></i> Origine</h4>
        <p><%= @beer.location %></p>
      </div>

      <div class="detail-product">
        <h4><i class="fas fa-industry"></i> Brasserie</h4>
        <p><%= @beer.brewery %></p>
      </div>

      <div class="detail-product">
        <h4><i class="fab fa-pagelines"></i> Categorie</h4>
        <p><%= @beer.category %></p>
      </div>

      <div class="detail-product">
        <h4><i class="fas fa-glass-whiskey"></i> Type</h4>
        <p><%= @beer.beer_type %></p>
      </div>

      <div class="detail-product">
        <h4><i class="fas fa-percent"></i> Degré</h4>
        <p><%= @beer.degree %> %</p>
      </div>

      <div class="detail-product">
        <h4><i class="fas fa-sun"></i> Note</h4>
        <% if @beer_rate == 0 %>
          <p><em style="color: #CAD2D3;">Pas encore de note</em></p>
        <% else %>
          <p><% @beer_rate.times do |i| %><i class="fas fa-beer"></i>
          <% end %></p>
        <% end %>
      </div>

    </div>
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

  <% unless @beer.reviews.count == 0 %>
    <h4>Commentaires</h4>
    <div class="reviews-cards">
      <% @beer.reviews.each do |review| %>
        <div class="review">
          <div class="header-review">
            <div class="author">
              <p><i class="fas fa-user-circle"></i><%= link_to review.user.username, user_path(review.user.id) %></p>
            </div>
            <div class="date">
              <p><%= review.created_at.strftime("%d-%m-%Y") %></p>
            </div>
          </div>
          <div class="flex">
            <div class="title">
              <p><%= review.title %></p>
            </div>
            <div class="rate">
              <p><% review.rate.times do |i| %><i class="fas fa-beer"></i><% end %></p>
            </div>
          </div>
          <div class="review-text">
            <p><%= review.content %></p>
          </div>
          </div>
      <% end %>
    </div>
  <% end %>
  <%= render 'shared/footer' %>
</div>

