<%= link_to "home", root_path %>
<%= image_tag(@photo, :alt => "beer") %>
<h1><%= @beer.name %></h1>
<h4>Origin</h4>
<p><%= @beer.location %></p>
<h4>Category</h4>
<p><%= @beer.category %></p>
<h4>Type</h4>
<p><%= @beer.beer_type %></p>
<h4>Description</h4>
<p><%= @beer.description %></p>
<h4>Degree</h4>
<p><%= @beer.degree %> %</p>

<%= link_to "Add a Review", new_beer_review_path(@beer)  %>


<% unless @beer.reviews.count == 0 %>
  <h6>Reviews</h6>
  <div class="reviews-cards">
      <% @beer.reviews.each do |review| %>
        <div class="review">
          <div class="author">
            <p><i class="fas fa-user"></i> <%= review.user.email %></p>
          </div>
          <div class="flex">
            <div class="review-text">
              <p><%= review.content %></p>
            </div>
            <div class="rate">
              <p><%= review.rate %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
<% end %>
