<div class="banner-product">
  <h3><%= @beer.name %></h3>
  <%= image_tag(@photo, :alt => "beer") %>
</div>
<div class="container">
  <div class="card-details-product">
    <h5>Description</h5>
    <p><%= @beer.description %></p>
  </div>
  <div class="card-details-product">
    <div class="flex">
      <div class="detail-product">
        <h4><i class="fas fa-home"></i> Origin</h4>
        <p><%= @beer.location %></p>
      </div>
      <div class="detail-product">
        <h4><i class="fab fa-pagelines"></i> Category</h4>
        <p><%= @beer.category %></p>
      </div>
      <div class="detail-product">
        <h4><i class="fas fa-glass-whiskey"></i> Type</h4>
        <p><%= @beer.beer_type %></p>
      </div>
      <div class="detail-product">
        <h4><i class="fas fa-percent"></i> Degree</h4>
        <p><%= @beer.degree %> %</p>
      </div>
      <div class="detail-product">
        <h4>Rate</h4><p><% @beer_rate.times do |i| %><i class="fas fa-beer"></i>
        <% end %></p>
      </div>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

<%= link_to "Add a Review", new_beer_review_path(@beer)  %>


<% unless @beer.reviews.count == 0 %>
  <h6>Reviews</h6>
  <div class="reviews-cards">
      <% @beer.reviews.each do |review| %>
        <div class="review">
          <div class="author">
            <p><i class="fas fa-user"></i> <%= review.user.email %></p>
          </div>
          <div class="flex">
            <div class="review-text">
              <p><%= review.content %></p>
            </div>
            <div class="rate">
              <p><%= review.rate %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
<% end %>
