
<div class="container">
  <h3>Qu'en penses-tu ?</h3>
  <div class="form-create">
    <%= simple_form_for([ @beer, @review ]) do |f| -%>
      <%= f.input :title, placeholder: "Ton titre ici" %>
      <%= f.input :content, placeholder: "Ton commentaire ici" %>
      <%= f.input :rate, collection: Review::STARS, prompt: "Ta note" %>
      <%= f.submit class: "submit-btn", value: "ajouter" %>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>

